
@{
    ViewData["Title"] = "Chat";
}
@{
    List<string> messagesList = new();

    void OnSend()
    {
        Console.WriteLine($"show {messagesList}");
    }

    //TODO: Weird error occurs when loading this Chat page. The page takes ~5-10 seconds to load. I think it is because of this error loading SignalR?
    //      But it seems that SignalR still loads and I am able to send messages back and forth in the ChatHub so... idk
    //error in browser: DevTools failed to load source map: Could not load content for https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.8/signalr.min.js.map:
    //                  HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>
</head>
<body>
    <input type="text" id="userInput" />
    <input type="text" id="messageInput" />
    <input type="button" id="sendButton" value="Send" />
    <ul id="messagesList"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.8/signalr.min.js"></script>

    <script src="~/js/chat.js"></script>
</body>
</html>

