.account body {
    background-color: #050520; /* secondary color */
}

.account h1, .account h2, .account h3 {
    color: #f2f2ff; /* primary color */
    font-family: sans-serif;
}

.account .btn-primary {
    background-color: #03045e;
    border-color: #06062b;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

    .account .btn-primary:hover {
        background-color: #06062b; /* a slightly darker shade of primary color for hover effect */
        border-color: #06062b;
    }

.account .external-login-buttons .btn {
    margin-right: 10px;
    background-color: #f2f2ff;
    color: #03045e;
    border: 1px solid #f2f2ff;
}

.account .google-logo {
    margin-right: 8px;
}

.account .form-control {
    border: 1px solid #03045e;
}

    .account .form-control:focus {
        border-color: #03045e;
        box-shadow: 0 0 0 0.25rem rgba(3, 4, 94, 0.25); /* rgba format of primary color */
    }

.account .text-danger {
    color: #ff0000; /* A general color for showing validation errors */
}

.account .remember-me-label {
    color: #ffffff;
}
