html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* This btn-close is in Register and Login pages, but the css can only be applied here because it is the modal button close */
.account .btn-close.btn-close-white {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-content.no-border {
    background-color: transparent;
    border-radius: 15px;
    border: none;
    box-shadow: 0 10px 30px rgb(0, 0, 0, .5);
}

.modal-body, .modal-body > * {
    border-radius: 15px;
    background-color: #303034;
    border-radius: 15px;
    padding: 20px 0px 20px 0px;

}

body {
    background-color: #121212;
    color: #EAEAEA;
}

.bg-dark-blue {
    background-color: #002f6b;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #EAEAEA;
    transition: color 0.3s ease;
}

    .navbar-dark .navbar-brand:hover,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #57B2E8;
    }

.btn-outline-light {
    border-color: #57B2E8;
    color: #57B2E8;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .btn-outline-light:hover {
        background-color: #57B2E8;
        color: #121212;
    }

/* Other styles remain the same */
